@model IEnumerable<UniversityCourseAndResultManagementSystem.Models.Course>

@{
    ViewBag.Title = "GetCourseStaticsByDeptId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Course Statics </h2>

<div class="form-group">
    @Html.Label("Department ")
    @Html.DropDownList("DepartmentId", null, "--Select--",
        htmlAttributes: new { @class = "form-control" })
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name/Title</th>
            <th>Semester</th>
            <th>Assigned To</th>
        </tr>
    </thead>
    <tbody id="courseInfo"></tbody>

</table>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
@section scripts
{
<script>
    $(document).ready(function () {
        $("#DepartmentId").change(function () {
            var deptId = $("#DepartmentId").val();
            var parameter = { deptId: deptId }
            $("#courseInfo").empty();

            //  $("#DepartmentId").append('<option value="">--Select--</option>');

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCourseStaticsByDeptId", "CourseAssignToTeacher")',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(parameter),
                success: function (data) {
                    $.each(data,function (key, value) {
                        $("#courseInfo").append('<tr>' +
                                '<td>' +
                                value.CourseCode +
                                '</td>' +
                                '<td>' +
                                value.CoursName +
                                '</td>' +
                                '<td>' +
                                value.SemesterName +
                                '</td>' +
                                '<td>' +
                            value.TeacherName
                                +
                                '</td></tr>');
                        });
                }

            });

        });
    });
</script>
}